# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Next.js
.next/
out/

# Build Files
dist/
build/

# Prisma
prisma/*.db
prisma/*.db-journal

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage
coverage/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo